body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('/Users/duncannemelka/Desktop/startbootstrap-clean-blog-gh-pages/assets/img/nyan-cat-1y550aojs77u58wk.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    color: #333;
}


.navigation {
    margin: auto;
    width: 50%;
}

h1 {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin: 0;
    font-size: 24px;
}

section {
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #444;
    margin-top: 0;
}

p {
    line-height: 1.6;
}

iframe {
    width: 100%;
    height: 315px;
    border: none;
    margin-top: 10px;
}

.graph-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Adjust height as necessary, or use a specific value */
    margin: 0;
    padding: 0;
}

.back-to-top {
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: relative; /* Fixed at the bottom */
    bottom: 0;
    left: 0;
    color: white
    
}

.top-border {
    height: 60px; /* Adjust the height to your preference */
    background-color: rgb(22, 0, 68); /* This sets the color of the border */
    width: 100%; /* This ensures the border spans the full width of the page */
}

img {

    width: 100%;
}
